---
title: "Kate Demo | Better Website Web Designs | Tulsa, OK"
description: "Meta description for the page"
permalink: "/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Critical styles are loaded first -->
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
    {% if kit.isProduction %}
        <link rel="preload" href="/assets/css/local.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link rel="stylesheet" href="/assets/css/local.css">
        </noscript>

    {% else %}
        <link rel="stylesheet" href="/assets/css/local.css"/>
    {% endif %}

    <!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
    <!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
    <!-- {% include "components/home-schema.html" %} -->
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-2368">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Premium Therapy for Lasting Positive Change</h1>
            <p class="cs-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus unde id saepe quo. Est, ea! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id, provident? Lorem ipsum dolor sit amet consectetur adipisicing.
            </p>
            <div class="cs-button-box">
                <a href="" class="cs-button-solid">Schedule An Appointment</a>
                <a href="" class="cs-button-phone">
                    <picture class="cs-icon-wrapper">
                        <img aria-hidden="true" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/white-phone.svg" alt="phone icon" width="24" height="24">
                    </picture>
                    (555) 444-4904
                </a>
            </div>
        </div>
        <!--Hero Image-->
        <picture class="cs-picture">
            <!--Mobile-->
            <source media="(max-width: 600px)" srcset="/assets/images/people.jpg">
            <!--Tablet-->
            <source media="(min-width: 601px)" srcset="/assets/images/people.jpg">
            <!--Desktop-->
            <source media="(min-width: 1024px)" srcset="/assets/images/people.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/people.jpg" alt="therapy" width="630" height="760">
        </picture>
    </div>
</section>
                                

    {% include 'sections/cta.html' %}
{% endblock %}